* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 80rem;
    }

    .entete {
        display: block;
        width: 70%;
        max-height: 270px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1rem;
    }

    .background-entete {
        background: #04233f;
        background: linear-gradient(45deg, #04233f 0%, #154155 100%);
        border-radius: 20px;
    }

    .home {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    button {
        width: 15%;
        height: 2rem;
        margin: auto;
        padding-bottom: 2rem;
        border-radius: 17px;
        background: #04233f;
        background: linear-gradient(45deg, #04233f 0%, #154155 100%);
        font-size: 1.5rem;
        font-family: verdana;
        color: rgb(190 157 117);
        transition-duration: 0.1s;
        cursor: pointer;
    }

    button:hover {
        border: 3.5px solid rgb(190 157 117);
        background: #04233f;
        background: linear-gradient(45deg, #04233f 0%, #154155 100%);
    }


    [button-title]:hover:after {
        transition: all 0.1s ease 0.5s;
        visibility: visible;
    }

    [button-title]:after {
        content: attr(button-title);
        width: 7rem;
        background: #04233f;
        background: linear-gradient(45deg, #04233f 0%, #154155 100%);
        color: rgb(190 157 117);
        visibility: hidden;
        position: absolute;
        bottom: -1.8rem;
        left: 62%;
        font-size: .8rem;
        font-family: 'Montserrat';
        border-radius: 10px;
        padding:5px;
    }

    [button-title] {
        position: relative;
    }

    .coord {
        text-align: center;
        font-family: 'Montserrat';
        font-size: 1.3rem;
        color: rgb(190 157 117);
    }

    .email {
        width:5rem;
    }

    [mailto-title]:hover:after {
        transition: all 0.1s ease 0.5s;
        visibility: visible;
    }

    [mailto-title]:after {
        content: attr(mailto-title);
        width: 13.5rem;
        background: #04233f;
        background: linear-gradient(45deg, #04233f 0%, #154155 100%);
        color: rgb(190 157 117);
        visibility: hidden;
        position: absolute;
        bottom: -1.4rem;
        left: 50%;
        font-size: .8rem;
        font-family: verdana;
        border-radius: 10px;
        padding: 5px;
    }

    [mailto-title] {
        position: relative;
    }

    